* {
    font-size: 13px;
    min-height: 0;
}

/* #workspaces { */
/*     border-right: 1px solid #a3898d; */
/* } */

#workspaces button.active {
    background-color: #141719;
    color: #b8543e;
}

#workspaces button.urgent {
    background-color: #090A0B;
    color: #e06c75;
}

#window {
    padding-left: 9px;
}

window#waybar {
    background-color: #090A0B;
    color: #E6DFE0;
}

#pulseaudio.muted {
    color: #e06c75;
}

#clock,
#cpu,
#memory,
#disk,
#pulseaudio {
    padding: 0 6px;
}

#tray {
    background-color: #090A0B;
    color: #E6DFE0;
    padding-left: 6px;
}

/* #clock { */
/*     border-right: 1px solid #a3898d; */
/* } */
